<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<script src="https://kit.fontawesome.com/7c62b68722.js" crossorigin="anonymous"></script>
	<title>home</title>
</head>
<body>
	<form action="/addTask" method="POST">
        
        <div id="user">
            <h3 id="headTag">TODO APP</h3>
            <hr>
            <h4 class="fontColor">DESCRIPTION</h4>
            <input type="text" name="description" class="input" placeholder="What do you need to do ?" required><hr>
            <div id='sec'>
            	<div id="secDiv">
            		<h4 class="fontColor">CATEGORY</h4>
            		<select name="category">
            			<option disabled selected value>Select the category ? </option>
            			<option value="Personal">Personal</option>
            			<option value="Work">Work</option>
            			<option value="School">School</option>
            			<option value="Cleaning">Cleaning</option>
            			<option value="Other">Other</option>
            		</select>
            	</div>

            	<div>
            		<h4 class="fontColor">DUE DATE</h4>
            		<input class="input"  type="date" name="date" required>	 
            	</div>
            </div><hr>

            <div id=btn>
            	<button type="submit"  id="addbtn"><i class="fa-solid fa-plus"></i>ADD TASK</button>
            	<a  class="button" href="" id="delbtn" ><i class="fa-solid fa-trash-can"></i>DELETE TASK</a>
            </div>
        </div>

		<ul>

			<% for(let task of tasksArrObj) { %>
				<!-- <hr> -->
				<li class="outputSection">
					<div>
						<div class="data">
							<span><a class="chk" href="#" name ='a' value= <%= task._id %> >X</a></span>
							<!-- <i class="fa-regular fa-square-check"></i> -->
							<h3 class="fontColor descrip"><%= task.description %> </h3>
						</div>
		
						<div class="date">
							<i class="fa-solid fa-calendar-days fontColor"></i>
							<h4 class="fontLightColor"><%= task.date %> </h4>
						</div>
					</div>
		
					<div class=categBtn>
						<p><%= task.category %> </p>
					</div>
				</li>    
			<% } %> 

		</ul>

    </form>

	<script type="text/javaScript" src="/js/home.js"></script>
</body>
</html>